<div class="user-login-page">

  `<div class="text-center user-login">

    <div class="sign-up-form">

      <h1>Sign In</h1>

      <form action="<%= session_url %>" method="post" class="form-group has-feedback">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

        <div class="input-group">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>
          <input class="form-control" type="text" name="user[username]" placeholder="username">
        </div>

        <br>
        <br>

        <div class="input-group">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-lock"></span>
          </span>
          <input class="form-control" type="password" name="user[password]" placeholder="password">
        </div>

        <br>
        <br>

        <div>
          <input class="form-control" type="submit" value="Sign In">
        </div>

      </form>

      New user? <a class="user-link" href="/users/new">Create account here.</a>
      <!-- Or, sign-in as <a class="user-link" href="#">demo-user</a>. -->
       Or, sign-in as
        <form action="<%= session_url %>" method="POST" class="hidden-form">
          <input
            type="hidden"
            name="authenticity_token"
            value="<%= form_authenticity_token %>" >
          <input
            type="hidden"
            name="user[username]"
            value="Demo User">
          <input type="hidden"
            name="user[password]"
            value="password">
          <input type="submit" class="plain-link" value="demo user.">
        </form>



    </div>
  </div>
</div>
