<div class="text-center sign-up-form" id="background">

  <h1>Sign Up!</h1>


  <form action="<%= users_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <div class="form-group col-xs-3">
      <!-- <label>Username: -->
        <input class="form-control" type="text" name="user[username]" placeholder="username">
      <!-- </label> -->
    </div>

    <br>
    <br>

    <div class="form-group col-xs-3">
      <!-- <label>Password: -->
        <input class="form-control" type="password" name="user[password]" placeholder="password">
      <!-- </label> -->
    </div>

    <br>
    <br>

    <div class="form-group col-xs-3">
      <input class="form-control" type="submit" value="Sign Up">
    </div>

  </form>


</div>
