@import "bootstrap-sprockets";
@import "bootstrap";

.grid-square {
  float: left;
  height: 35px;
  width: 35px;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  background: white;
}

.grid-square:nth-child(15n) {

}

.grid-square.black {
  background: black;
}

.grid {
  width: 529px;
  height: 529px;
  display: inline-block;
  margin-top: 0;
  opacity: 1;
  border: 2px solid black;
  position: absolute;
  top: 100px;
  right: 100px;
}

.grid:after {
  content: "";
  display: block;
  clear: both;
}

.clue-number {
  color: black;
  font-size: 11px;
  font-family: Arial;
  padding: 0px 1px 0px 1px;
  z-index: 1;
}

.user-login {
  background: url(Bookshelf.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sign-up-form {
  background-color: rgba(192,192,192, .5);
  font-family: 'Poiret One', cursive;
}
