/*
*= require_self
*= require games
*= require puzzles
*= require sessions
*= require static_pages
*= require users
*/

@import "bootstrap-sprockets";
@import "bootstrap";


// Login/Signup Page and Form

div.user-login-page {
  background: url(Bookshelf.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.plain-link {
  color: yellow;
  background: transparent;
  border: none;
}

.hidden-form {
  display: inline;
}

.sign-up-form {
  background-color: rgba(0,0,0, .5);
  font-family: 'Poiret One', cursive;
  width: 400px;
  margin: auto;
  margin-top: 100px;
  height: 330px;
  border-radius: 25px;
  padding: 20px;
  color: white;
}

.user-link {
  color: yellow;
}

.user-link:hover {
  color: cyan;
  font-weight: bolder;
  text-decoration: none;
}

.plain-link {
  padding-left: 0px;
}

.plain-link:hover {
  color: cyan;
  font-weight: bolder;
  text-decoration: none;
}

.plain-link:focus, .plain-link:active, .plain-link.active, .plain-link:focus:active {
  background-image: none;
  outline: none;
  -webkit-box-shadow: none;
}

.sign-in-button:hover {
  background: antiquewhite;
  font-weight: bolder;
}

h1 {
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: bold;
  color: white;
}

.errors-div {
  min-height: 20px;
  margin-bottom: 20px;
  color: yellow;
  font-style: italic;
  font-weight: bolder;
}

.btn-sign {
  height: 40px;
  margin-top: 5px;
}

li.btn-sign {
  padding-top: 8px;
  color: white;
}

li.btn-sign a {
  position: fixed;
  top: 0;
  margin-right: 30px;
}

.button_to {
  background: white;
}

.button_to:hover {
  color: yellow;
}

a.btn-sign.btn.btn-default {
  vertical-align: middle;
  padding-top: 8px;
}


.form-group {
  width: 400px;
  padding-left: 5px;

}

.form-control {
  width: 350px;
  align: center;
  font-size: 16px;
}

.input-group {
  width: 350px;
}

body { padding-top: 70px; }



// Navbar

.navbar {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}

.navbar-default {
  background-color: black;
  border-color: black;
  border-bottom: 1px solid gray;
}

.navbar-brand {
  width: 186px;
  padding-left: 70px;
}

.navbar-brand img {
  width: 50px;
  height: 50px;
  top: 0;
  left: 10px;
  position: fixed;
}

.navbar-default .navbar-brand {
  color: white;
  border-right: 1px solid white;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  padding-left: 20px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: yellow;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: yellow;
}

.navbar-default .navbar-nav > .dropdown > a:focus {
  color: yellow;
  background: transparent;
}

ul.dropdown-menu {
  width: 120px;
}

ul.nav.navbar-nav.navbar-right {
  width: 150px;
}

.navbar-nav.navbar-right:last-child {
  margin-right: 0;
}

a.dropdown-toggle {
  width: 200px;
}

body {
  font-family: 'Poiret One', cursive;
  width: 100%;
  padding-top: 50px;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.explanation {
  text-align: center;
  z-index: 1000;
  color: white;
  margin-top: 100px;
  font-size: 20px;
  background-color: rgba(0,0,0, .6);
  width: 100%;
}
