@import "bootstrap-sprockets";
@import "bootstrap";

.grid-square {
  float: left;
  height: 35px;
  width: 35px;
  border: 1px solid gray;
}

.grid-square:nth-child(15) {
  border-right: 5px solid green;
  background: red;
}

.grid-square.black {
  background: black;
}

.grid {
  width: 527px;
  height: 527px;
  display: inline-block;
  margin-top: 0;
  opacity: 1;
  border: 1px solid black;
}

.clue-number {
  color: black;
  font-size: 11px;
  font-family: Arial;
  padding: 0px 1px 0px 1px;
  z-index: 1;
}

html {
  background: url(Bookshelf.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sign-up-form {
  background: gray;
}
